// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

- if data_set.build_data
  - status_url = build_status_data_set_path(data_set)
  - bd = data_set.build_data
  - if bd.status == BuildData::STATUS_PREPARING
    #build_progress{ data: { url: status_url } }
      Preparing to build.  Please wait.
      = render partial: 'cancel_build_form', locals: { data_set: data_set }

  - elsif bd.status == BuildData::STATUS_RUNNING
    - build_info = bd.current_build_info
    - c = build_info[:current]
    - t = build_info[:total]
    #build_progress{ data: { url: status_url } }
      = "Build is running.  Generated #{c} of #{t} records (#{((c.to_f / t) * 100).to_i}%)"
      %br
      = render partial: 'cancel_build_form', locals: { data_set: data_set }

  - elsif bd.status == BuildData::STATUS_CANCELING
    #build_progress{ data: { url: status_url } } Canceling build...

  - elsif bd.status == BuildData::STATUS_COMPLETED
    #build_completed
      = "Build completed successfully.  Took #{(bd.updated_at - bd.created_at).to_i} seconds."
      = form_tag(retrieve_build_data_set_path(data_set), id: 'retrieveBuildForm') do
        = submit_tag 'Retrieve Generated Records'
    = render partial: 'generate_records_form', locals: { data_set: data_set }

  - elsif bd.status == BuildData::STATUS_CANCELED
    #build_canceled Build has been successfully canceled.
    = render partial: 'generate_records_form', locals: { data_set: data_set }

  - elsif bd.status == BuildData::STATUS_ERROR
    #build_error
      = "Build failed with error: #{data_set.build_data.message}"
      %br
      If this error persists, please contact the system administrator.
    = render partial: 'generate_records_form', locals: { data_set: data_set }

  - else
    #build_error= "unhandled build status: #{bd.status}"
    = render partial: 'generate_records_form', locals: { data_set: data_set }

- else
  = render partial: 'generate_records_form', locals: { data_set: data_set }
