// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

%h2 '#{@data_set.name}' data set

- content_for :path do
  %ul
    %li= link_to @data_set.name, @data_set

#build_container{ data: { id: @data_set.id } }= render partial: 'build', locals: { data_set: @data_set }

= form_for @data_set do |f|
  = f.label :name, 'Rename Data Set to:'
  = f.text_field :name
  = f.submit 'Rename'

%br

= form_tag(entities_path, remote: true, id: 'new_entity_form') do
  = hidden_field_tag 'entity[data_set_id]', @data_set.id
  = label_tag 'entity[name]', 'New entity:'
  = text_field_tag 'entity[name]'
  = submit_tag 'Save'
  %span.error

#entities= render partial: 'entities/list', locals: { entities: @data_set.entities_sorted_hierarchically }
