// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

- each_available_attribute_for(attr) do |a|
  %div{ data: { id: a.id, type: a.data_type } }
    .condition_val
      - if a.data_type == Attr::TYPE_ENUM
        = select_tag 'condition[value]', options_for_select(available_enum_values(a)), class: 'lit'
      - elsif a.data_type == Attr::TYPE_BOOLEAN
        = select_tag 'condition[value]', options_for_select(%w(true false)), class: 'lit'
      - else
        = text_field_tag 'condition[value]', '', class: 'lit'
