// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

- if attr_val.conditions.any? || (params[:controller] == 'attr_vals' && params[:action] == 'setup_conditions')
  %table.conditions
    - attr_val.conditions.each_with_index do |c, i|
      %tr
        %td.code= c.to_s(hide_join: i == 0)
        %td= link_to 'X', c, :method => :delete, :remote => true, :class => 'destroy', :data => { :confirm => 'Are you sure?' }

  = form_tag(conditions_path, remote: true, class: 'new_condition') do
    = hidden_field_tag 'condition[attr_val_id]', attr_val.id
    - if attr_val.conditions.any?
      = select_tag 'condition[join_using]', options_for_select(build_condition_join_list)
    = select_tag 'condition[attr_id]', options_for_select(build_condition_attrs_list(attr_val)), class: 'condition_attr'
    .condition_op
    .condition_val
    = submit_tag 'Save'
    %span.error

- else
  No conditions specified.
  = link_to 'Click here to add conditions.', setup_conditions_attr_val_path(attr_val.id), :method => :post, :remote => true
