// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

%h2 '#{@profile.name}' profile

- content_for :path do
  %ul
    %li= link_to @profile.entity.data_set.name, @profile.entity.data_set
    %li /
    %li= link_to @profile.entity.name, @profile.entity
    %li /
    %li= link_to @profile.name, @profile

= form_for @profile do |f|
  = f.label :name, 'Rename Profile to:'
  = f.text_field :name
  = f.submit 'Rename'

%br

= form_tag(setup_profile_attr_path, remote: true, id: 'attr_select_form', class: 'auto_submit') do
  .instructions Select an attribute from the list below for which to create a profile-specific value domain.
  = hidden_field_tag 'profile_id', @profile.id
  = select_tag 'attr_id', options_for_select(build_profile_attributes_list(@profile)), prompt: '--select attribute--'

#attr_form

#attr_vals= render partial: 'attr_vals/list', locals: { attr_vals: @profile.attr_vals }

- content_for :resources do
  #condition_op_templates= render partial: 'conditions/op_templates'
  #valid_domain_attr_info