// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

#this_attribute{ data: { id: attr.id, type: attr.data_type } }

= form_tag(attr_vals_path, remote: true, id: 'new_attr_val_form') do
  - if defined? profile_id
    = hidden_field_tag 'attr_val[profile_id]', profile_id

  = hidden_field_tag 'attr_val[attr_id]', attr.id

  %span.error
  #domainBuilder
    %table
      - if attr.data_type == 'boolean'
        %tr
          %td= label_tag 'boolean_val', 'Boolean Value:'
          %td= select_tag 'boolean_val', options_for_select(%w(true false)), class: 'domainPart lit'

      - elsif attr.data_type == 'int' || attr.data_type == 'decimal'
        - attr_options = attr.avail_domain_attr_refs.keys
        %tr
          %td= label_tag 'min', 'Minimum:'
          %td.toggle
          %td{ data: { toggle_option: 'Select Value' } }
            = text_field_tag 'min', '', class: 'domainPart lit'
          - if attr_options.any?
            %td{ data: { toggle_option: 'Reference Attribute' } }
              = select_tag 'attr_ref_min', options_for_select(attr_options), class: 'domainPart ref'
          %td{ data: { toggle_option: 'Specify Expression' } }
            - if attr_options.any?
              = select_tag 'expr_attr_ref_min', options_for_select(attr_options)
              = button_tag 'Insert', id: 'insert_ref_min', type: 'button'
            %br
            = text_field_tag 'expr_min', '', class: 'domainPart expr', size: 35
        %tr
          %td= label_tag 'max', 'Maximum (Optional):'
          %td.toggle
          %td{ data: { toggle_option: 'Select Value' } }
            = text_field_tag 'max', '', class: 'domainPart lit optional'
          - if attr_options.any?
            %td{ data: { toggle_option: 'Reference Attribute' } }
              = select_tag 'attr_ref_max', options_for_select(attr_options), class: 'domainPart ref optional'
          %td{ data: { toggle_option: 'Specify Expression' } }
            - if attr_options.any?
              = select_tag 'expr_attr_ref_max', options_for_select(attr_options)
              = button_tag 'Insert', id: 'insert_ref_max', type: 'button'
            %br
            = text_field_tag 'expr_max', '', class: 'domainPart expr optional', size: 35

      - elsif attr.data_type == 'Date' || attr.data_type == 'DateTime'
        - attr_options = attr.avail_domain_attr_refs.keys
        %tr
          %td= label_tag 'min', 'Start Date:'
          - if attr_options.any?
            %td.toggle
          %td{ data: { toggle_option: 'Select Value' } }
            = text_field_tag 'min', '', class: 'domainPart lit date'
          - if attr_options.any?
            %td{ data: { toggle_option: 'Reference Attribute' } }
              = select_tag 'attr_ref_min', options_for_select(attr_options), class: 'domainPart ref'
        %tr
          %td= label_tag 'max', 'End Date (Optional):'
          - if attr_options.any?
            %td.toggle
          %td{ data: { toggle_option: 'Select Value' } }
            = text_field_tag 'max', '', class: 'domainPart lit date optional'
          - if attr_options.any?
            %td{ data: { toggle_option: 'Reference Attribute' } }
              = select_tag 'attr_ref_max', options_for_select(attr_options), class: 'domainPart ref optional'

      - elsif attr.data_type == 'Enum'
        %tr
          %td= label_tag 'enum_value', 'Enumerated Value:'
          %td= text_field_tag 'enum_value', '', class: 'domainPart'

      - elsif attr.data_type == 'StringTemplate'
        - attr_options = attr.avail_domain_attr_refs.keys
        %tr
          - if attr_options.any?
            %td.toggle
          %td{ data: { toggle_option: 'Specify Value'} }
            = select_tag 'char_class', options_for_select(str_template_char_class_list)
          - if attr_options.any?
            %td{ data: { toggle_option: 'Reference Attribute' } }
              = select_tag 'attr_ref', options_for_select(attr_options)
          %td{ align: 'right' }= button_tag 'Insert', id: 'add_to_template', type: 'button'
        %tr
          %td{ colspan: 4 }= text_field_tag 'template_value', '', class: 'domainPart', size: 35

      %tr
        %td{ colspan: 4, align: 'right' }
          = button_tag 'Insert NULL', id: 'insert_null', type: 'button'
          = button_tag 'Add -->', id: 'add_to_domain', type: 'button'

    #domain
      = text_field_tag 'attr_val[domain]', '', size: 50
      = submit_tag 'Save', id: 'new_attr_val_submit'

