// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

- if attr_vals.any?
  - profile = ! attr_vals[0].profile_id.blank?

  %table.index
    %tr
      - if profile
        %th Attribute
      %th Domain
      %th Condition
      %th

    - attr_vals.each do |attr_val|
      - if profile
        - content_for :resources do
          .attr_info{ data: { attr_id: attr_val.attr.id } }
            = render partial: 'conditions/attr_info', locals: { attr: attr_val.attr }

      %tr
        - if profile
          %td= link_to attr_val.attr.name, attr_val.attr
        %td= format_domain_for_display(attr_val)
        %td{ id: "avc_form_#{attr_val.id}", data: { attr_id: attr_val.attr_id } }
          = render partial: 'conditions/form', locals: { attr_val: attr_val }
        %td= link_to 'Destroy', attr_val, :method => :delete, :remote => true, :data => { :confirm => 'Are you sure?' }
