// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

= form_tag(change_rec_count_entity_path(entity), remote: true, class: 'rec_count') do
  = label_tag 'entity[min_recs]', 'Min:'
  = text_field_tag 'entity[min_recs]', entity.min_recs, size: 4, id: nil, class: 'min_recs'
  = label_tag 'entity[max_recs]', 'Max:'
  = text_field_tag 'entity[max_recs]', entity.max_recs, size: 4, id: nil, class: 'max_recs'
  = submit_tag 'Save', disabled: true