// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

%h2 '#{@entity.fully_qualified_name}' entity

- content_for :path do
  %ul
    %li= link_to @entity.data_set.name, @entity.data_set
    %li /
    %li= link_to @entity.name, @entity

= form_for @entity do |f|
  = f.label :name, 'Rename Entity to:'
  = f.text_field :name
  = f.submit 'Rename'

%br

#new_attr_form
  = form_tag(attrs_path, remote: true) do
    = hidden_field_tag 'attr[entity_id]', @entity.id
    = label_tag 'attr[name]', 'New attribute:'
    = text_field_tag 'attr[name]'
    = label_tag 'attr[data_type]', 'Data type:'
    = select_tag 'attr[data_type]', options_for_select(Attr.all_data_types)
    = submit_tag 'Save'
    %span.error

#attrs= render partial: 'attrs/list', locals: { attrs: @entity.attrs }

%br

= form_tag(profiles_path, remote: true, id: 'new_profile_form') do
  = hidden_field_tag 'profile[entity_id]', @entity.id
  = label_tag 'profile[name]', 'New profile:'
  = text_field_tag 'profile[name]'
  = submit_tag 'Save'
  %span.error

#profiles= render partial: 'profiles/list', locals: { profiles: @entity.profiles }
