/*
 * Copyright 2015 The University of Vermont and State Agricultural
 * College.  All rights reserved.
 *
 * Written by Matthew B. Storer <matthewbstorer@gmail.com>
 *
 * This file is part of Data Fabricator.
 *
 * Data Fabricator is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Data Fabricator is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */

html, body {
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    text-align: left;
    overflow-x: hidden;
    min-width: 600px;
}

#header {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    padding-bottom: 5px;
}

#logo {
    font-size: 22px;
    font-weight: bold;
    float: left;
}

#session {
    float: right;
}

#session > * {
    display: inline-block;
    vertical-align: middle;
}

#userWidget {
    font-size: 11px;
    text-align: right;
}

#footer {
    margin-top: 20px;
    color: #bbbbbb;
    font-size: 10px;
    text-align: center;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
    background-color: inherit;
}

a.plain:hover {
    text-decoration: none;
}

table.index {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid black;
}

table.index > tbody > tr:first-child {
    background-color: lightgray;
}

table.index > tbody > tr > td:last-child {
    width: 0;
}

table.index > tbody > tr > td, table.index > tbody > tr > th {
    white-space: nowrap;
}

table.index > tbody > tr:nth-child(2n+3) {
    background-color: lightblue;
}

#error, .error {
    color: red;
}

#alert, .alert {
    color: orange;
}

#notice, .notice {
    color: lawngreen;
}

#path {
    margin-bottom: 10px;
}

#path ul {
    margin: 0;
    padding: 0;
}

#path li {
    display: inline;
    list-style: none;
}

#path a {
    background-color: palegreen;
    padding: 2px 5px 2px 5px;
}

.code {
    font-family: monospace;
}

a.destroy {
    color: red;
    font-weight: bold;
}

a.destroy:hover {
    text-decoration: none;
}

#resources, #resources *, .hidden {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}

input.invalid {
    border: 1px solid red;
    padding: 3px;
}

img.ui-icon {
    display: inline-block;
    vertical-align: middle;
}
