/*
 * Copyright 2015 The University of Vermont and State Agricultural
 * College.  All rights reserved.
 *
 * Written by Matthew B. Storer <matthewbstorer@gmail.com>
 *
 * This file is part of Data Fabricator.
 *
 * Data Fabricator is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Data Fabricator is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.
 */

// Place all the styles related to the DataSets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#build_container {
  margin-bottom: 20px;
}

#build_progress, #build_completed, #build_canceled {
  display: inline-block;
  border: 1px solid green;
  background-color: greenyellow;
  font-size: 0.8em;
  white-space: nowrap;
  padding: 5px;
}

#build_error {
  display: inline-block;
  border: 1px solid red;
  background-color: lightgray;
  font-size: 0.8em;
  white-space: nowrap;
  padding: 5px;
}