// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

%h2 '#{@attr.fully_qualified_name}' attribute (#{@attr.data_type})

- content_for :path do
  %ul
    %li= link_to @attr.entity.data_set.name, @attr.entity.data_set
    %li /
    %li= link_to @attr.entity.name, @attr.entity
    %li /
    %li= link_to @attr.name, @attr

= form_for @attr do |f|
  = f.label :name, 'Rename Attribute to:'
  = f.text_field :name
  = f.submit 'Rename'

%br

= render partial: 'attr_vals/form', locals: { attr: @attr }

#attr_vals= render partial: 'attr_vals/list', locals: { attr_vals: @attr.non_profile_attr_vals }

- content_for :resources do
  .attr_info{ data: { attr_id: @attr.id } }= render partial: 'conditions/attr_info', locals: { attr: @attr }
  #condition_op_templates= render partial: 'conditions/op_templates'
  #valid_domain_attr_info= render partial: 'attrs/domain_attr_refs', locals: { attr: @attr }

