// Copyright 2015 The University of Vermont and State Agricultural
// College.  All rights reserved.
//
// Written by Matthew B. Storer <matthewbstorer@gmail.com>
//
// This file is part of Data Fabricator.
//
// Data Fabricator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Data Fabricator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Data Fabricator.  If not, see <http://www.gnu.org/licenses/>.

!!! 5
%html
  %head
    %title Data Fabricator
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #header
      #logo= link_to 'Data Fabricator', root_url, class: 'plain'
      #session= render 'layouts/user_widget'

    - if current_user
      #path= yield :path

    #content
      - if flash[:error]
        #error= flash[:error]

      - if flash[:alert]
        #alert= flash[:alert]

      - if flash[:notice]
        #notice= flash[:notice]

      = yield

    #footer Data Fabricator is Copyright &copy; 2015 The University of Vermont.  All Rights Reserved.

    #resources= yield :resources